/*
fichier css de base de BM 
*/

/* generaux */
html {
  margin:0px;
  padding:0px;
}

a {text-decoration: none;}
section {width: 50%; margin-left :auto; margin-right: auto;}
nav {background: grey; width: 50%; margin-left :auto; margin-right: 0;} 

/* mutualisation */
.lienspecial {color: green;}
header , footer {background: black; padding: 20px;}
header a, footer a, footer p {color: white !important;}

/* specifique */
nav a {color: red;}
section img {margin-top: 20px;}
footer p {font-size : 12px;}
#sanspoint {list-style-type: none }
#G20 {margin-left: 20px }
#G30 {margin-left: 30px }

