/*
fichier css de base de BM 
*/

/* generaux */
html {
  margin:0px;
  padding:0px;
}

a {text-decoration: none;}

/* mutualisation */
.lienspecial {color: green}

/* specifique */
nav a {color: red;}
section img {margin-top: 20px;}
footer p {font-size : 12px;}
#sanspoint {list-style-type: none }
#G20 {margin-left: 20px }
#G30 {margin-left: 30px }
